{% extends 'default.html' %}

{% block content %}
    <center>
        <h1>{{ title }}</h1>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            <h4>{{ form.title.label }}</h4>
            {{ form.title }}
            <br>
            <h4>{{ form.category.label }}</h4>
            {% for checkbox in form.category %}
                <i>{{ checkbox }} </i> &nbsp
            {% endfor %}
            <br>
            <ul>выберите одну из категорий</ul>
            <h4>{{ form.text.label }}</h4>
            {{ form.text }}
            <br>
            <h4>{{ form.photo.label }}</h4>
            {{ form.photo.help_text }}
            {{ form.photo }}
            <br><br>
            <input type="submit" value="Сохранить" />
        </form>
        <br>
    </center>
{% endblock content %}
