<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Поздравляем! </title>
    </head>

    <body>
        <center>
            <h3>
                <font color=#0C11B0>
                    Уважаемый <em>&nbsp {{ name |capfirst }} </em>, ваш отклик
                </font>
            </h3>
            <h4><em>{{ feedback.text |capfirst }} &nbsp</em>(от {{feedback.time|date:'d.m.Y H:i'}})</h4>
            <h4> к объявлению </h4>
            <div>
                <font color=#082C52>
                    <em>{{ feedback.post.title |capfirst }}</em><br>
                (автор {{ feedback.post.author |capfirst }} )
                </font>
                <h3>принят!</h3>
            </div>
        </center>
    </body>
</html>


