{% extends 'default.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
<center>
    <h2>Страница авторизованного пользователя</h2>
    <h3><em> {{user.username}} </em></h3>
    <div>  e-mail: <em>{{user.email}} </div>
    <br>
    <button><a href="{% url 'logout' %}" role="button">Выйти</a></button>
    <br>
{% if feedbacks %}
    <h4> Отклики на Ваши объявления </h4>
</center>
    {% for feedback in feedbacks %}
        <div>
            <tr>
                <td> {{ feedback.time|date:'d.m.Y H:i'  }} </td>
                <td> {{ feedback.text }} </td>
                <td> {{ feedback.is_active }} <hr> </td>
            </tr>
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}

