{% extends 'default.html' %}

{% block content %}
    <center>
        <h2>Страница авторизованного пользователя</h2>
        <h3><em> {{user.username}} </em></h3>
        <div>  e-mail: <em>{{user.email}}</em></div>
        <br>
        <button><a href="{% url 'logout' %}" role="button">Выйти</a></button>
        <br>

        <h3> Отклики на Ваши объявления </h3>

        <form action="" method="get">
        {% for f in filterset.form %}
            <div><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>&nbsp{{ f }}</div>
            <div class="form-error">{{ f.errors }}</div>
            <br>
        {% endfor %}
        <input type="submit" name="do_choice" value="Выбрать" />
        </form>
    </center>
    <br>
    <hr>
    {% if filter_feedback %}
        <table>
            <ul>
                <tr>
                    <th> &nbsp &nbsp &nbsp &nbsp </th>
                    <th> &nbsp Ссылка на  ваше &nbsp<br> объявление (дата) &nbsp </th>
                    <th> &nbsp &nbsp Дата отклика &nbsp &nbsp &nbsp</th>
                    <th> Ваше действие &nbsp &nbsp</th>
                    <th> Автор отклика / Текст отклика &nbsp &nbsp</th>
                </tr>
            </ul>
        </table>
    {% endif %}

    {% if filter_feedback %}
        {% for feedbacks in filter_feedback %}
            {% if feedbacks %}
                {% for feedback in feedbacks%}
                    <ul>
                    <form action="" method="post">
                        {% csrf_token %}
                        • &nbsp
                        <a href="{% url 'post' pk=feedback.post.pk %}">{{feedback.time|date:'d.m.Y H:i'}}</a>
                        &nbsp &nbsp
                        {{ feedback.time |date:'d.m.Y H:i' }}
                        &nbsp &nbsp &nbsp &nbsp &nbsp
                        {% if feedback.is_active %}
                            <input type="submit" name="{{feedback.pk}}" value="Удалить" />
                        {% else %}
                            <input type="submit" name="{{feedback.pk}}" value="Принять" />
                        {% endif %}
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        {{ feedback.author }}
                        &nbsp &nbsp &nbsp &nbsp
                        <i> {{ feedback.text }} </i>
                        &nbsp &nbsp &nbsp &nbsp
                    </form>
                    </ul>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock content %}

