<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Уведомление о новом отклике </title>
    </head>

    <body>
        <center>
            <h3>
                <font color=#0C11B0>
                    Уважаемый <em>&nbsp {{ name |capfirst }} </em>, на ваше объявление
                </font>
            </h3>
            <h4><em>{{ feedback.post.title |capfirst }} &nbsp</em></h4>
            <h5>(от {{feedback.post.time|date:'d.m.Y H:i'}})</h5>
            <h4> оставлен отклик: </h4>
            <div>
                <font color=#082C52>
                    <em>{{ feedback.text |capfirst }}</em><br>
                (автор {{ feedback.author |capfirst }} )
                </font>
                <h4>
                    Для того, чтобы его принять или отклонить
                    <br>перейдите на свою страницу
                    <a href="http://127.0.0.1:8000{% url 'account' %}">по ссылке</a>
                </h4>
            </div>
        </center>
    </body>
</html>


